<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>signUpServlet</servlet-name>
        <servlet-class>Servlet.signUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signUpServlets</servlet-name>
        <servlet-class>Servlet.signUpServlets</servlet-class>
        <multipart-config>
            <max-file-size>10485760</max-file-size>
            <max-request-size>20971520</max-request-size>
            <file-size-threshold>5242880</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>signIn</servlet-name>
        <servlet-class>Servlet.signIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editProfile</servlet-name>
        <servlet-class>Servlet.editProfile</servlet-class>
        <multipart-config>
            <max-file-size>10485760</max-file-size>
            <max-request-size>20971520</max-request-size>
            <file-size-threshold>5242880</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cart</servlet-name>
        <servlet-class>Servlet.addToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editStaff</servlet-name>
        <servlet-class>Servlet.editStaff</servlet-class>
        <multipart-config>
            <max-file-size>10485760</max-file-size>
            <max-request-size>20971520</max-request-size>
            <file-size-threshold>5242880</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>deleteStaff</servlet-name>
        <servlet-class>Servlet.deleteStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signUpStaff</servlet-name>
        <servlet-class>Servlet.signUpStaff</servlet-class>
        <multipart-config>
            <max-file-size>10485760</max-file-size>
            <max-request-size>20971520</max-request-size>
            <file-size-threshold>5242880</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>editProduct</servlet-name>
        <servlet-class>Servlet.editProduct</servlet-class>
        <multipart-config>
            <max-file-size>10485760</max-file-size>
            <max-request-size>20971520</max-request-size>
            <file-size-threshold>5242880</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>deleteProduct</servlet-name>
        <servlet-class>Servlet.deleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signUpProduct</servlet-name>
        <servlet-class>Servlet.signUpProduct</servlet-class>
        <multipart-config>
            <max-file-size>10485760</max-file-size>
            <max-request-size>20971520</max-request-size>
            <file-size-threshold>5242880</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>addQuantity</servlet-name>
        <servlet-class>Servlet.addQuantity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>minusQuantity</servlet-name>
        <servlet-class>Servlet.minusQuantity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkout</servlet-name>
        <servlet-class>Servlet.checkout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>signUpServlet</servlet-name>
        <url-pattern>/signUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signUpServlets</servlet-name>
        <url-pattern>/signUpServlets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signIn</servlet-name>
        <url-pattern>/signIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editProfile</servlet-name>
        <url-pattern>/editProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cart</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editStaff</servlet-name>
        <url-pattern>/editStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteStaff</servlet-name>
        <url-pattern>/deleteStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signUpStaff</servlet-name>
        <url-pattern>/signUpStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editProduct</servlet-name>
        <url-pattern>/editProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteProduct</servlet-name>
        <url-pattern>/deleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signUpProduct</servlet-name>
        <url-pattern>/signUpProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addQuantity</servlet-name>
        <url-pattern>/addQuantity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>minusQuantity</servlet-name>
        <url-pattern>/minusQuantity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkout</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
